<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>list</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <form
      class="card"
      style="
        width: 100%;
        position: relative;
        padding: 10px;
        left: 50%;
        transform: translate(-50%, -0%);
      "
      action="/"
      autocomplete="off"
    >
      <div class="btn-group-vertical">
        {% for pdf in pdfs %}
        <div class="w-100 mb-3">
          <a
            href="./download/{{pdf}}"
            style="text-decoration: none; width: 75%"
            class="btn btn-secondary"
          >
            <button
              type="button"
              class="btn btn-secondary"
              style="font-size: 20px"
            >
              {{pdf}}
            </button>
          </a>
          <a
            href="./send/{{pdf}}"
            style="text-decoration: none; width: 10%"
            class="btn btn-secondary"
          >
            <svg
              fill="#000000"
              width="20px"
              height="40px"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15 2.5H1a1 1 0 0 0-1 1v9a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-9a1 1 0 0 0-1-1zm-1.3 1.25L8.42 8.56a.62.62 0 0 1-.84 0L2.3 3.75zm-12.45 8.5V4.48l5.49 5a1.86 1.86 0 0 0 2.52 0l5.49-5v7.77z"
              />
            </svg>
          </a>
          <a
            href="./delete/{{pdf}}"
            style="text-decoration: none; width: 10%"
            class="btn btn-secondary"
          >
            <svg
              width="20px"
              height="40px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M16.9498 8.46447C17.3404 8.07394 17.3404 7.44078 16.9498 7.05025C16.5593 6.65973 15.9261 6.65973 15.5356 7.05025L12.0001 10.5858L8.46455 7.05025C8.07402 6.65973 7.44086 6.65973 7.05033 7.05025C6.65981 7.44078 6.65981 8.07394 7.05033 8.46447L10.5859 12L7.05033 15.5355C6.65981 15.9261 6.65981 16.5592 7.05033 16.9497C7.44086 17.3403 8.07402 17.3403 8.46455 16.9497L12.0001 13.4142L15.5356 16.9497C15.9261 17.3403 16.5593 17.3403 16.9498 16.9497C17.3404 16.5592 17.3404 15.9261 16.9498 15.5355L13.4143 12L16.9498 8.46447Z"
                fill="#000000"
              />
            </svg>
          </a>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-outline-secondary">返回</button>
      </div>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
